apiVersion: apps/v1
kind: Deployment
metadata:
  name: weatherapp-weather
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: weatherapp-weather
  template:
    metadata:
      labels:
        app.kubernetes.io/name: weatherapp-weather
    spec:
      containers:
      - name: weather
        image: elnabatshy/weatherapp-weather:v1
        ports:
        - containerPort: 4000
        env:
        - name: WEATHER_API_KEY
          valueFrom:
            secretKeyRef:
              name: weatherapi-secret
              key: api-key

        readinessProbe:
          httpGet:
            path: /health
            port: 4000
          initialDelaySeconds: 3
          periodSeconds: 5

        livenessProbe:
          httpGet:
            path: /health
            port: 4000
          initialDelaySeconds: 5
          periodSeconds: 10